:root.dark {
    --sys-background: #131318;
    --sys-on-background: #e4e1e9;
    --sys-surface: #131318;
    --sys-surface-dim: #131318;
    --sys-surface-bright: #39393f;
    --sys-surface-container-lowest: #0d0e13;
    --sys-surface-container-low: #1b1b21;
    --sys-surface-container: #1f1f25;
    --sys-surface-container-high: #29292f;
    --sys-surface-container-highest: #34343a;
    --sys-on-surface: #e4e1e9;
    --sys-surface-variant: #46464f;
    --sys-on-surface-variant: #c7c5d0;
    --sys-inverse-surface: #e4e1e9;
    --sys-inverse-on-surface: #303036;
    --sys-outline: #918f9a;
    --sys-outline-variant: #46464f;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #bec2ff;
    --sys-primary: #bec2ff;
    --sys-on-primary: #262b60;
    --sys-primary-container: #3d4279;
    --sys-on-primary-container: #e0e0ff;
    --sys-inverse-primary: #555a92;
    --sys-secondary: #bec2ff;
    --sys-on-secondary: #262b61;
    --sys-secondary-container: #3d4279;
    --sys-on-secondary-container: #e0e0ff;
    --sys-tertiary: #f7b1de;
    --sys-on-tertiary: #4f1e42;
    --sys-tertiary-container: #69345a;
    --sys-on-tertiary-container: #ffd8ee;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #77767d;
    --sys-neutral-variant: #777680;
    --sys-primary-fixed: #e0e0ff;
    --sys-primary-fixed-dim: #bec2ff;
    --sys-on-primary-fixed: #10144b;
    --sys-on-primary-fixed-variant: #3d4279;
    --sys-secondary-fixed: #e0e0ff;
    --sys-secondary-fixed-dim: #bec2ff;
    --sys-on-secondary-fixed: #10144b;
    --sys-on-secondary-fixed-variant: #3d4279;
    --sys-tertiary-fixed: #ffd8ee;
    --sys-tertiary-fixed-dim: #f7b1de;
    --sys-on-tertiary-fixed: #36072c;
    --sys-on-tertiary-fixed-variant: #69345a;
    --sys-inverse-secondary: #555a92;
    --sys-inverse-tertiary: #844c73;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}