:root,
:host {
    --sys-background: #fbf8ff;
    --sys-on-background: #1b1b21;
    --sys-surface: #fbf8ff;
    --sys-surface-dim: #dbd9e0;
    --sys-surface-bright: #fbf8ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f5f2fa;
    --sys-surface-container: #efedf4;
    --sys-surface-container-high: #eae7ef;
    --sys-surface-container-highest: #e4e1e9;
    --sys-on-surface: #1b1b21;
    --sys-surface-variant: #e4e1ec;
    --sys-on-surface-variant: #46464f;
    --sys-inverse-surface: #303036;
    --sys-inverse-on-surface: #f2eff7;
    --sys-outline: #777680;
    --sys-outline-variant: #c7c5d0;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #555a92;
    --sys-primary: #555a92;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #e0e0ff;
    --sys-on-primary-container: #3d4279;
    --sys-inverse-primary: #bec2ff;
    --sys-secondary: #555a92;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #e0e0ff;
    --sys-on-secondary-container: #3d4279;
    --sys-tertiary: #844c73;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffd8ee;
    --sys-on-tertiary-container: #69345a;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #77767d;
    --sys-neutral-variant: #777680;
    --sys-primary-fixed: #e0e0ff;
    --sys-primary-fixed-dim: #bec2ff;
    --sys-on-primary-fixed: #10144b;
    --sys-on-primary-fixed-variant: #3d4279;
    --sys-secondary-fixed: #e0e0ff;
    --sys-secondary-fixed-dim: #bec2ff;
    --sys-on-secondary-fixed: #10144b;
    --sys-on-secondary-fixed-variant: #3d4279;
    --sys-tertiary-fixed: #ffd8ee;
    --sys-tertiary-fixed-dim: #f7b1de;
    --sys-on-tertiary-fixed: #36072c;
    --sys-on-tertiary-fixed-variant: #69345a;
    --sys-inverse-secondary: #bec2ff;
    --sys-inverse-tertiary: #f7b1de;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}